.main{
    background-color: #24252a;
    height: 70px;
    width: 100%;
    margin: auto;
    display: flex;
  justify-content: space-evenly;
}
.main img{
    height: 50px;
    width:120px;
  
    margin-top: 10px;
   
}
.main h4{
    color: white;
    font-size: 14px;
}
.b1{
    background-color: #2594af;
    border-radius: 20px;
    color: white;
    border: none;
    height: 40px;
    width: 100px;
    margin-top: 20px;
}

.main{
    color: white;
}